<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Ano de Publicação:</strong>
  <%= @book.publication_year %>
</p>
<p>
  <strong>Capa do Livro</strong>
  <%= image_tag @book.cover_photo%>
</p>
<p>
  <strong>Conteúdo do Livro</strong>
  <%= image_tag @book.book_content%>
</p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
